---

---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='refresh' content='0;url=/' />
    <title>Redirecting...</title>
  </head>
  <body>
    <script is:inline>
      window.location.href = '/'
    </script>
  </body>
</html>
