---
import AboutUsSection from '../components/AboutUsSection.astro'
import BoxSection from '../components/BoxSection.astro'
import CatalogSection from '../components/CatalogSection.astro'
import ContactModal from '../components/ContactModal.astro'
import FloatingContactButton from '../components/FloatingContactButton.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Etimatic - Packaging Personalizado'>
  <Header />
  <main>
    <Hero />
    <BoxSection />
    <CatalogSection />
    <AboutUsSection />
  </main>
  <Footer />
  <ContactModal />
  <FloatingContactButton />
</Layout>
