.prettierignore
.gitignore
.gitkeep
.editorconfig
.nvmrc
.czrc
pnpm-lock.yaml
makefile

*.iml
*.ts.map
*.js.map
*.env.*
*.png
*.webp
*.ico
*.svg
*.sh
*.txt
*.xml
*.json
!package.json

.idea/
.drizzle/
.husky/
.changeset/
coverage/
