---
import Logo from './logo.astro'
---
<div class="w-full h-screen gallery-focus-effect flex justify-center items-center">
  <img src="/loading_bg.png" class="w-full h-screen"  alt="loader"/>
  <Logo/>
</div>

<style is:inline>
  :root {
    --focus-blur-start: 25px;
    --focus-blur-end: 0px;
    --focus-opacity-start: 0.2;
    --focus-opacity-end: 1;
    /* Curva 'cubic-bezier' que simula el disparo rápido de una cámara */
    --camera-shutter-easing: cubic-bezier(0.19, 1, 0.22, 1);
  }

  .gallery-focus-effect {
    /* Estado inicial: desenfocado y translúcido */
    filter: blur(var(--focus-blur-start));
    opacity: var(--focus-opacity-start);

    /* Configuración de la transición */
    transition:
      filter 1.8s var(--camera-shutter-easing),
      opacity 1.2s ease-in-out;

    /* Aseguramos que el blur no se corte en los bordes */
    transform: scale(1.05);
    will-change: filter, opacity;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  /* Estado final: nítido y visible al 100% */
  .gallery-focus-effect.is-focused {
    filter: blur(var(--focus-blur-end));
    opacity: var(--focus-opacity-end);
    transform: scale(1); /* Volvemos al tamaño original */
  }
</style>