---

---

<section
  id='about_us'
  class="max-slim:p-[5em_1em_3em] flex flex-col items-center justify-center gap-8 bg-[url('/images/about_us.png')] bg-cover bg-center bg-no-repeat p-[10em]"
>
  <h3 class='text-heading1 text-center text-white'>UNA LARGA TRAYECTORIA</h3>
  <div class='text-title max-w-4xl text-center text-white'>
    <p>
      <b>Etimatic packaging</b> es una empresa familiar que nació en el año 1986 con la finalidad de proveer al comercio una
      amplia gama de productos de <b>packaging</b> y más tarde abriendo mercado en la industria.
    </p>
    <br />
    <p>
      La gama de productos es muy variada pudiendo abarcar cualquier tipo de comercio e industria. Ofrecemos
      <b>
        papel de regalo, cintas, etiquetas, bolsas, cajas, etiquetaje de todo tipo, bolsas publicitarias y papeles
        impresos.
      </b>
    </p>
    <br />
    <p>
      Durante nuestra larga trayectoria en el sector siempre hemos tenido claro que nuestros principales objetivos son:
      dar a un <b>excelente servicio</b> a nuestros clientes una <b>calidad máxima</b>, ofrecerles
      <b>originalidad</b> cada temporada, además de un <b>servicio a medida</b>. Algo de lo cual no nos desprendemos en
      nuestra nueva etapa digital.
    </p>
  </div>
</section>
