---
import Layout from '../layouts/Layout.astro';
import { getImages } from '../lib/cloudinary.ts'
const { resources } = await getImages('partners');
---
<Layout headerOffset="mt-0" title="Contact" description="Contact Oscar Zamora, Portrait & Still photographer in Madrid">
  <section class="mt-8 border-t border-t-black pt-4 flex flex-col gap-16">
    <h1 class="text-xl mt-11">Contact</h1>
    <div class="flex flex-col items-start gap-12 md:flex-row md:justify-between md:items-end md:gap-4">
      <div class="flex flex-col">
        <span class="text-xl">OSCAR ZAMORA</span>
        <span class="text-base">Portrait & Still photographer</span>
      </div>
      <a href="mailto:ozzproducer@gmail.com" class="text-base">ozzproducer@gmail.com</a>
      <a href="tel:+34622777013" class="text-base">(+34) 622 777 013</a>
      <a href="https://www.instagram.com/ozz_photographer/" target="_blank" class="flex gap -2 text-base">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.816 7.08752C18.141 7.08752 17.6348 7.59377 17.6348 8.26877C17.6348 8.94377 18.141 9.45002 18.816 9.45002C19.491 9.45002 19.9973 8.94377 19.9973 8.26877C19.9973 7.59377 19.491 7.08752 18.816 7.08752Z" fill="#1A1A1A"/>
          <path d="M13.4996 8.6062C10.7152 8.6062 8.52148 10.8843 8.52148 13.5843C8.52148 16.2843 10.7996 18.5625 13.4996 18.5625C16.1996 18.5625 18.4777 16.2843 18.4777 13.5843C18.4777 10.8843 16.284 8.6062 13.4996 8.6062ZM13.4996 16.7906C11.7277 16.7906 10.2934 15.3562 10.2934 13.5843C10.2934 11.8125 11.7277 10.3781 13.4996 10.3781C15.2715 10.3781 16.7059 11.8125 16.7059 13.5843C16.7059 15.3562 15.2715 16.7906 13.4996 16.7906Z" fill="#1A1A1A"/>
          <path d="M17.55 3.375H9.53438C6.075 3.375 3.375 6.075 3.375 9.45V17.4656C3.375 20.8406 6.075 23.5406 9.45 23.5406H17.4656C20.8406 23.5406 23.5406 20.8406 23.5406 17.4656V9.45C23.625 6.075 20.925 3.375 17.55 3.375ZM21.6844 17.55C21.6844 19.8281 19.8281 21.7687 17.4656 21.7687H9.45C7.17187 21.7687 5.23125 19.9125 5.23125 17.55V9.53438C5.23125 7.25625 7.0875 5.31563 9.45 5.31563H17.4656C19.7438 5.31563 21.6844 7.17188 21.6844 9.53438V17.55Z" fill="#1A1A1A"/>
        </svg>
        <span>@ozz_photographer</span>
      </a>
    </div>
  </section>
  <section class="mt-8 border-t border-t-black pt-4 flex flex-col gap-16">
    <h2 class="text-xl mt-11">About</h2>
    <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat facilisis pretium. Sed luctus magna at nisl pulvinar, a porta neque laoreet. Duis laoreet accumsan dolor, ac efficitur massa hendrerit quis. Aenean scelerisque purus eu commodo pretium. Vivamus in felis aliquet, commodo quam vel, varius nisi. Morbi lobortis lorem non sapien feugiat, at volutpat dui vehicula. Cras quis est vel est placerat consectetur. Donec eu massa vel ante luctus vestibulum in vel orci. Ut quam enim, dignissim sed ullamcorper eget, facilisis quis neque. In ut euismod enim. Integer tincidunt urna vitae accumsan bibendum. Proin eget dolor cursus, sagittis mi vel, blandit tellus. Proin vitae eros quis massa fermentum condimentum vel id velit. Aliquam dictum iaculis neque, in posuere magna convallis eget. Maecenas ultrices in nibh eget euismod.</p>
  </section>
  <section class="mt-8 border-t border-t-black pt-4 flex flex-col gap-16">
    <h2 class="text-xl mt-11">Brand Collaborations</h2>
    <div class="flex flex-col gap-6 md:flex-row md:flex-wrap md:justify-between md:gap-4">
      {resources.map((item) => (
        <img src={item.secure_url} width={item.width} height={item.height} alt={`Brand Collaboration - ${item.public_id.split('/').pop()}`} />
      ))}
    </div>
  </section>

</Layout>
