@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-black: #1A1A1A;
  --color-white: #FFFFFF;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZhrib2Bg-4.woff2') format('woff2');
  }

  html,
  body {
    @apply bg-white text-black font-sans antialiased;
    margin: 0;
    padding: 0;
  }
}

.pswp__bg {
  background: white !important;
  opacity: 1 !important;
}

.pswp__scroll-wrap {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
        "author picture close"
        "author picture controls"
        "author picture pagination";
  padding: 0 56px;
}

.pswp__container {
  grid-area: picture;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .pswp__img {
    position: relative !important;

    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain !important;
    margin: auto;
  }

  .pswp__scroll-wrap {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }

  .pswp__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .pswp__item[aria-hidden="false"] {
    .pswp__zoom-wrap {
      transform: none !important;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

.pswp__author {
  grid-area: author;
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: center;
}

.pswp__button.pswp__button--custom_close {
  grid-area: close;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 54px 0 0;
}

.pswp__button.pswp__button--custom_close:active,
.pswp__button.pswp__button--custom_close:focus,
.pswp__button.pswp__button--custom_close:hover {
  padding: 54px 0 0 !important;
}

.pswp__controls {
  grid-area: controls;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.pswp__pagination {
  grid-area: pagination;
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: end;
  padding: 0 0 64px;
}

.custom-nav-col {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

@media (max-width: 768px) {
  .pswp__ui {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: auto 1fr auto;
    padding: 20px;
  }

  .custom-name-col {
    display: none; /* Ocultamos el nombre para ganar espacio */
  }

  .custom-nav-col {
    grid-row: 3;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}