name: Deploy

on:
  release:
    types: [published]
    tags:
      - 'v*.*.*'

  workflow_dispatch:
    inputs:
      tag:
        description: 'Git tag to deploy (e.g. v1.2.3)'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
